{% extends "../templates/base.html" %}

{% set title = "Art meets Dinner at Sketch London" %}
{% set description = "Part restaurant part terrifying art installation this a playground-esque restaurant in Mayfair mixes a peculiar experience with outstanding food." %}

{% block page %}

  <article>
    <amp-img src="https://lh3.googleusercontent.com/zCb9R_HVgMwUrYYsFT_Bo7W1wVP1HD1K-4fNdQt-s5-DYGu2deuhtTkLo168=w720-h480" alt="sketch Gallery room" width="720" height="480" layout="responsive"></amp-img>
    <h1>Art meets Dinner at Sketch London</h1>
    <p>Ever wanted to know what it’s like to sit inside a giant egg, trying to go the loo, while geese squawk at you? Well welcome to sketch. Part restaurant part terrifying art installation this a playground-esque restaurant in Mayfair, created by Mourad Mazouz, mixes a peculiar experience with outstanding food.</p>
    <p>sketch restaurant is formed of several rooms; a velvet-covered candy pink main room, an ostentatious oriental style private dining room, the masculine smoking-room style parlour, and the astonishingly decorated forest-like Glade Room.</p>
    <p>We chose to have dinner in the main part of the restaurant, the Gallery Room. The candy pink velvet benches and small bistro tables are beautiful but more impressive are the collections of sketches lining every wall. All created by artist David Shrigley, they feature some very odd encounters, funny jokes, and just the downright absurd.</p>
    <p>All the china in the restaurant features Shrigley illustrations too, it reminds me of the Edward Munkton Puccinos tableware and it’s pretty funny.</p>
    <p>But what did I have to eat? Well, when I was given the option to order a whole mandarin duck I couldn’t really turn it down. A whole duck. Not to myself mind you, but even for two of us it was pretty large. And yes when they say duck they do mean the whole thing. They even present it to you before whisking it away to be carved up. This is probably some important etiquette thing but I’m obviously not posh enough to know about it and would rather they just bring you the duck on a plate ready to eat instead of teasing you with it before removing it for another few minutes to be carved.</p>
    <p>All I can say is that the duck was delicious, but so was the wine, so at this stage I can’t really tell you how or why it was delicious, just that it was.</p>
    <p>But the dessert is something that I’ll never forget.</p>
    <p>When you were younger, did you imagine that being an adult meant you could eat whatever you want, whenever you wanted? What happens if you’d wanted sherbet mousse and popping candy with flying saucers for pudding in a fancy restaurant? Then you grew up and realised that these sorts of places only served boring (but tasty) desserts like cheeseboards and lemon tarts.</p>
    <p>But not at sketch.</p>
    <p>What we ordered was like a childhood dream. A plate of zingy sherbet mousse, decorated with flying saucers and sprinkled with popping candy and ice cream, all arrived in pastel colours of pink and yellow and orange. Oh and it was delicious. Don’t get me wrong I love a cheeseboard, but there’s something hilarious about ordering flying saucers for dessert.</p>
    <p>Oh and about those goose eggs, have fun in the toilet as you sit inside your own personal pod with mood lighting and the sounds of geese squawking overhead…</p>
  </article>

  <h1 class="other-articles">Related Articles</h1>
  <div class="article-grid">
    <a class="precache" href="/art-meets-dinner/">
      <amp-img src="https://lh3.googleusercontent.com/zCb9R_HVgMwUrYYsFT_Bo7W1wVP1HD1K-4fNdQt-s5-DYGu2deuhtTkLo168=w220-h140-p" alt="sketch Gallery" width="220" height="140" layout="responsive"></amp-img>
      <h2>Art meets Dinner at sketch London</h2>
    </a>
    <a class="precache" href="/stop-for-a-scoop/">
      <amp-img src="https://lh3.googleusercontent.com/oI8rytueqHQSIGe3RO_9dHKmc6RG2RLODhWvOjfDCoKNfojw-ncD1XLqETU=w220-h140-p" alt="Scoop gelato" width="220" height="140" layout="responsive"></amp-img>
      <h2>Stop for a Scoop in Seven Dials</h2>
    </a>
    <a class="precache" href="/roast-for-breakfast/">
      <amp-img src="https://lh3.googleusercontent.com/cfqMihZC-bUU2rkH2fpTeaZDrRj_GY4U-KtXlOtKk9-E4XJ8v8A3HpEIMWLU=w220-h140-p" alt="Scoop gelato" width="220" height="140" layout="responsive"></amp-img>
      <h2>Roast for breakfast</h2>
    </a>
  </div>

{% endblock %}
