{% extends "../templates/base.html" %}

{% set title = "Prohibition style cocktails at Bar Americain" %}
{% set description = "While Piccadilly Circus bustles above you, you can venture underground to the vast complex of dining hall, cocktail bar and cabaret theatre." %}

{% block page %}

  <article>
    <amp-img src="https://lh3.googleusercontent.com/B2MotOBYX-YMV4zyfvt83zs44qm_2xSNm7r99k-PUL_jN7xKXnBj6A7x-QQy=w600-h600-p" alt="Bucks Fizz at Roast" width="600" height="600" layout="responsive"></amp-img>
    <h1>Prohibition style cocktails at Bar Americain</h1>
    <p>While Piccadilly Circus bustles above you, you can venture underground to the vast complex of dining hall, cocktail bar and cabaret theatre practically underneath the Eros statue. This Art Deco style bar, restaurant and music hall was originally the The Regent Palace Hotel, a trans-atlantic style opulent hotel built in 1915. It was revived in 2004 though restored faithfully. Now you can sip Aviators and Mint Juleps in the aerospace themed bar.</p>
    <p>I first visited this bar after having dinner at Brasserie Zedel, part of the same complex previously the Regent Palace Hotel. I’m a big fan of cocktails and though the concise menu here is great I like to test out bar staff by requesting a few off-menu drinks. The bar staff here are fantastic and clearly know their stuff as no cocktail was too difficult, and they seemingly had every ingredient needed. This is the place to come if you want to enjoy some authentic, classic cocktails!</p>
    <p>Served with every cocktail comes a little enamel tin of lovely chilli-coated popcorn, just the moreish snack to enjoy whilst sipping on whatever concoction you have requested from the tuxedoed barman. The bar is small, so gets densely packed quickly. But with a free cloakroom just across the entrance hall there’s no reason not to stand and wait for a table, or take a seat at the bar and enjoy watching the cocktails being expertly crafted. The whole bar is decorated with wood panelling, featuring inlaid pictures of biplanes, while the original features of the hotel from days past are proudly on display</p>
    <p>While classics such as the Southside and Negroni are always popular, there are some interesting classics on the menu. I’m a fan of the Clover Club, a pre-prohibition cocktail from Philadelphia. Gin, lemon, raspberries, egg white &amp; sugar seems like an odd combination but the sweet and tart raspberries work well with the gin and the raw egg gives a creamy, meringue-like taste. Plus, at Bar Americain you know it’ll be perfectly crafted!</p>
  </article>

  <h1 class="other-articles">Related Articles</h1>
  <div class="article-grid">
    <a class="precache" href="/art-meets-dinner/">
      <amp-img src="https://lh3.googleusercontent.com/zCb9R_HVgMwUrYYsFT_Bo7W1wVP1HD1K-4fNdQt-s5-DYGu2deuhtTkLo168=w220-h140-p" alt="sketch Gallery" width="220" height="140" layout="responsive"></amp-img>
      <h2>Art meets Dinner at sketch London</h2>
    </a>
    <a class="precache" href="/stop-for-a-scoop/">
      <amp-img src="https://lh3.googleusercontent.com/oI8rytueqHQSIGe3RO_9dHKmc6RG2RLODhWvOjfDCoKNfojw-ncD1XLqETU=w220-h140-p" alt="Scoop gelato" width="220" height="140" layout="responsive"></amp-img>
      <h2>Stop for a Scoop in Seven Dials</h2>
    </a>
    <a class="precache" href="/roast-for-breakfast/">
      <amp-img src="https://lh3.googleusercontent.com/cfqMihZC-bUU2rkH2fpTeaZDrRj_GY4U-KtXlOtKk9-E4XJ8v8A3HpEIMWLU=w220-h140-p" alt="Scoop gelato" width="220" height="140" layout="responsive"></amp-img>
      <h2>Roast for breakfast</h2>
    </a>
  </div>

{% endblock %}
