{% extends "../templates/base.html" %}

{% set title = "Brunch at Balthazar" %}
{% set description = "A New York style French brasserie in the heart of Covent Garden, Balthazar makes a great Saturday morning brunch spot." %}

{% block page %}

  <article>
    <amp-img src="https://lh3.googleusercontent.com/HwPJI13_m-zgweOQ9sOzJKjMcrQQgD-VyU6Eey4EgOl7CQ3rhxuyoio-3kJU2A=w480-h320" alt="Balthazar brunch / Credit: Steven Joyce" width="480" height="320" layout="responsive"></amp-img>
    <h1>Brunch at Balthazar</h1>
    <p>A New York style French brasserie in the heart of Covent Garden, Balthazar makes a great Saturday morning brunch spot, but be sure to book; with the busy tourist scene and shopping in Covent Garden this place is nearly always full by midday.</p>
    <p>I visited Balthazar in March with a friend for a long, luxury brunch. Having become a fan of other French brasseries in the area, such as The Delaunay and Zedel, Balthazar had been high on my list to visit.</p>
    <p>Housed in the old Royal Opera House Theatre Museum, Balthazar shares “The Flower Cellars” building with The London Film Museum (the permanent flower market was originally built for the Covent Garden flower sellers in 1870 and this space was used for storage).</p>
    <p>Keen to keep in-style with the New York equivalent, founder Keith McNally has kept to the rustic, opulent decor we’ve come to expect of an art deco brasserie look. But what about the food…</p>
    <p>Though the hot lunch dishes coming out to tables all around us looked fantastic, we opted to go for the brunch menu. The menu is concise, typically French but with some interesting surprises thrown in. I opted for the poached egg and avocado on toast, topped with tomato salsa, and was not disappointed. And of course, nobody looks out of place with a glass of mimosa at this stylish brasserie, even if it is 11am! The dish was delicious, perfect size for brunch and just the right size to enjoy over a long catch-up and a glass of mimosa. But there’s always room for pudding. We topped off our main course with a sharing hazlenut waffle dish, drizzled with maple syrup and fresh winter berries.</p>
  </article>

  <h1 class="other-articles">Related Articles</h1>
  <div class="article-grid">
    <a class="precache" href="/art-meets-dinner/">
      <amp-img src="https://lh3.googleusercontent.com/zCb9R_HVgMwUrYYsFT_Bo7W1wVP1HD1K-4fNdQt-s5-DYGu2deuhtTkLo168=w220-h140-p" alt="sketch Gallery" width="220" height="140" layout="responsive"></amp-img>
      <h2>Art meets Dinner at sketch London</h2>
    </a>
    <a class="precache" href="/stop-for-a-scoop/">
      <amp-img src="https://lh3.googleusercontent.com/oI8rytueqHQSIGe3RO_9dHKmc6RG2RLODhWvOjfDCoKNfojw-ncD1XLqETU=w220-h140-p" alt="Scoop gelato" width="220" height="140" layout="responsive"></amp-img>
      <h2>Stop for a Scoop in Seven Dials</h2>
    </a>
    <a class="precache" href="/roast-for-breakfast/">
      <amp-img src="https://lh3.googleusercontent.com/cfqMihZC-bUU2rkH2fpTeaZDrRj_GY4U-KtXlOtKk9-E4XJ8v8A3HpEIMWLU=w220-h140-p" alt="Scoop gelato" width="220" height="140" layout="responsive"></amp-img>
      <h2>Roast for breakfast</h2>
    </a>
  </div>

{% endblock %}
