{% extends "../templates/base.html" %}

{% set title = "Budget dinner at Bulgari Hotel &amp; Spa" %}
{% set description = "Nothing better than a day out in Seven Dials with a stop for tasty ice-cream." %}

{% block page %}

  <article>
    <amp-img src="https://lh3.googleusercontent.com/eSafMuekJc0vvjvUOJ5T-L9igWMvKMY36RI8nMAFXmpUBjIlgiIhSLHTBPMMnw=w720-h480" alt="Rivea London" width="720" height="480" layout="responsive"></amp-img>
    <h1>Budget dinner at Bulgari Hotel &amp; Spa</h1>
    <p>Yes I did say “budget”. <a href="http://rivealondon.com/">Rivea London</a> is the Alain Ducasse restaurant at Bulgari Hotel in fancy Knightsbridge. If you want to impress someone without crying over the bill, then come here and enjoy the £26 set menu. Just make sure you settle the bill before your guest catches sight of it.</p>
    <p>After a day in London watching Star Wars, four of us prepared to rock up to the Bulgari Hotel, but a quick panic when we realised how fancy this place might be meant a dash around the nearby Zara to buy proper shoes and a nice dress meant we were a little late. Feeling much more acceptable we sat down for the set menu.</p>
    <p>There were plenty of options to choose from even for a small set menu, and no one was disappointed. The sommelier even provided a (probably quite cheap) bottle of wine for the meal, not quite the level of service you’d get from a similar priced meal at Pizza Express.</p>
    <p>The meal even starts with a funny little “condiments test” where you’re given a dish of 9 different flavoursome condiments to enjoy with bread sticks. It was pretty fun trying to work out exactly what each flavour was, and finding your favourite (and then trying to knock your friends off the trail so they didn’t discover the tasty secret. “Try that orange one, this green one is horrible” as you steal all the fresh pesto for yourself).</p>
    <p>The menu changes regularly but it’s a pretty tasty but classic mix of the sort of Italian/French fine dining you might expect of Ducasse. The crab and radish salad, though small, was very tasty indeed and everyone enjoyed a selection of different meat dishes for main. Of course there’s always the mystery of an unheard-of ingredient to try out. But while the food quality was of course excellent, there was nothing spectacular. The interior is exactly the sort of glossy hotel look one would expect from Bulgari and the food is similar – tasty, a bit flashy but really nothing that jumps out at you.</p>
    <p>This would make a great place to bring a friend to impress, but if you want a bit of luxury there are other, more interesting places to eat in London. Maybe the a la carte menu has more to offer.</p>
  </article>

  <h1 class="other-articles">Related Articles</h1>
  <div class="article-grid">
    <a class="precache" href="/art-meets-dinner/">
      <amp-img src="https://lh3.googleusercontent.com/zCb9R_HVgMwUrYYsFT_Bo7W1wVP1HD1K-4fNdQt-s5-DYGu2deuhtTkLo168=w220-h140-p" alt="sketch Gallery" width="220" height="140" layout="responsive"></amp-img>
      <h2>Art meets Dinner at sketch London</h2>
    </a>
    <a class="precache" href="/stop-for-a-scoop/">
      <amp-img src="https://lh3.googleusercontent.com/oI8rytueqHQSIGe3RO_9dHKmc6RG2RLODhWvOjfDCoKNfojw-ncD1XLqETU=w220-h140-p" alt="Scoop gelato" width="220" height="140" layout="responsive"></amp-img>
      <h2>Stop for a Scoop in Seven Dials</h2>
    </a>
    <a class="precache" href="/roast-for-breakfast/">
      <amp-img src="https://lh3.googleusercontent.com/cfqMihZC-bUU2rkH2fpTeaZDrRj_GY4U-KtXlOtKk9-E4XJ8v8A3HpEIMWLU=w220-h140-p" alt="Scoop gelato" width="220" height="140" layout="responsive"></amp-img>
      <h2>Roast for breakfast</h2>
    </a>
  </div>

{% endblock %}
