{% extends "../templates/base.html" %}

{% set title = "Roast for breakfast" %}
{% set description = "Roast, the restaurant above Borough Market famous for it’s Sunday servings now does an amazing breakfast feast." %}

{% block page %}

  <article>
    <amp-img src="https://lh3.googleusercontent.com/cfqMihZC-bUU2rkH2fpTeaZDrRj_GY4U-KtXlOtKk9-E4XJ8v8A3HpEIMWLU=w720-h480" alt="Bucks Fizz at Roast" width="720" height="480" layout="responsive"></amp-img>
    <h1>Roast for breakfast</h1>
    <p>Not quite a roast beef dinner, but Roast, the restaurant above Borough Market famous for it’s Sunday servings now does an amazing breakfast feast that lives up to their fantastic dinners.</p>
    <p>We went here for Kris’ birthday breakfast as I wanted to surprise him with a nice sit down meal, somewhere that felt a little “fancy” but still offered a tasty full breakfast.</p>
    <p>Bucks fizz of course is always a good idea, especially at birthday brunch. This plus a nice iced coffee went perfectly with the gorgeous breakfast. There are a number of different options, not just full breakfasts, but all use British produce, some purchased from the market that sits just below you.</p>
    <p>Roast is located in the Flower Hall that sits above Borough Market, with glass walls on nearly all sides so you can peer down at the goings-on in the market stalls. It’s a really interesting vantage point.</p>
    <p>But the restaurant, despite it’s location amongst this brash and exciting part of London, is still quite refined. Crisp white tablecloths, smartly dressed waiters and a personal lift up the restaurant, so it’s still somewhere you can get dressed up to visit.</p>
    <p>After seeing the open-plan kitchen and the huge carving blocks I decided this place was definitely worth a visit for dinner, as it did feel a little bit odd going to “Roast” and having breakfast. We booked ourselves in for a dinner straight away, but that’s for another review.</p>
    <p>Oh and if you do fancy sampling the cuisine before you go to roast, they have a small stand in the market just below the restaurant selling roast baguettes, baps and more. Definitely a good option for a late lunch snack but I’d save that for a day when you haven’t filled yourself up on brekkie!</p>
  </article>

  <h1 class="other-articles">Related Articles</h1>
  <div class="article-grid">
    <a class="precache" href="/art-meets-dinner/">
      <amp-img src="https://lh3.googleusercontent.com/zCb9R_HVgMwUrYYsFT_Bo7W1wVP1HD1K-4fNdQt-s5-DYGu2deuhtTkLo168=w220-h140-p" alt="sketch Gallery" width="220" height="140" layout="responsive"></amp-img>
      <h2>Art meets Dinner at sketch London</h2>
    </a>
    <a class="precache" href="/stop-for-a-scoop/">
      <amp-img src="https://lh3.googleusercontent.com/oI8rytueqHQSIGe3RO_9dHKmc6RG2RLODhWvOjfDCoKNfojw-ncD1XLqETU=w220-h140-p" alt="Scoop gelato" width="220" height="140" layout="responsive"></amp-img>
      <h2>Stop for a Scoop in Seven Dials</h2>
    </a>
    <a class="precache" href="/roast-for-breakfast/">
      <amp-img src="https://lh3.googleusercontent.com/cfqMihZC-bUU2rkH2fpTeaZDrRj_GY4U-KtXlOtKk9-E4XJ8v8A3HpEIMWLU=w220-h140-p" alt="Scoop gelato" width="220" height="140" layout="responsive"></amp-img>
      <h2>Roast for breakfast</h2>
    </a>
  </div>

{% endblock %}
