{% extends "../templates/base.html" %}

{% set title = "Stop for a Scoop in Seven Dials" %}
{% set description = "Nothing better than a day out in Seven Dials with a stop for tasty ice-cream." %}

{% block page %}

  <article>
    <amp-img src="https://lh3.googleusercontent.com/oI8rytueqHQSIGe3RO_9dHKmc6RG2RLODhWvOjfDCoKNfojw-ncD1XLqETU=w960-h960" alt="Scoop gelato" width="960" height="960" layout="responsive"></amp-img>
    <h1>Stop for a Scoop in Seven Dials</h1>
    <p>Nothing better than a day out in Seven Dials with a stop for tasty ice-cream. Scoop, a small Italian gelato and dessert shop sells some of the best ice cream in London, that’s my personal opinion but also one shared with Time Out magazine who rated it 5 stars!</p>
    <p>The orange-fronted cafe is on Shorts Gardens so just nearby to all the shops and bars around the Seven Dials area, perfect for a quick drop-in. And I do seem to find myself dropping in here with friends often, mainly for their gorgeous Amarena gelato (a creamy gelato mixed with a syrupy cherry coulis and crushed sweet cherries. It’s amazing, if you see Amarena anywhere you have got to try it!) Though I’m a big fan of their dulce de leche too.</p>
    <p>I’ve also recently learnt that Scoop is now available on Deliveroo so you can get tasty gelato sent direct to your home or office, or maybe the park for a picnic? It would certainly make for a more interesting delivery if you’re hosting a lunch meeting than boring soggy sandwiches.</p>
    <p>Scoop also sells a range of yummy looking crepe dishes, cakes, coffees and more. Though I must admit I’ve never been able to tear myself away from the ice cream to try any of their other desserts, their coffee is really delicious and much better than some of the highstreet chains nearby. So it’s worth popping in for a quick coffee too.</p>
    <p>There is sometimes a queue at the front of the shop on particularly busy days but don’t let it put you off, it’s still well worth waiting – the ice cream will taste even sweeter.</p>
  </article>

  <h1 class="other-articles">Related Articles</h1>
  <div class="article-grid">
    <a class="precache" href="/art-meets-dinner/">
      <amp-img src="https://lh3.googleusercontent.com/zCb9R_HVgMwUrYYsFT_Bo7W1wVP1HD1K-4fNdQt-s5-DYGu2deuhtTkLo168=w220-h140-p" alt="sketch Gallery" width="220" height="140" layout="responsive"></amp-img>
      <h2>Art meets Dinner at sketch London</h2>
    </a>
    <a class="precache" href="/stop-for-a-scoop/">
      <amp-img src="https://lh3.googleusercontent.com/oI8rytueqHQSIGe3RO_9dHKmc6RG2RLODhWvOjfDCoKNfojw-ncD1XLqETU=w220-h140-p" alt="Scoop gelato" width="220" height="140" layout="responsive"></amp-img>
      <h2>Stop for a Scoop in Seven Dials</h2>
    </a>
    <a class="precache" href="/roast-for-breakfast/">
      <amp-img src="https://lh3.googleusercontent.com/cfqMihZC-bUU2rkH2fpTeaZDrRj_GY4U-KtXlOtKk9-E4XJ8v8A3HpEIMWLU=w220-h140-p" alt="Scoop gelato" width="220" height="140" layout="responsive"></amp-img>
      <h2>Roast for breakfast</h2>
    </a>
  </div>

{% endblock %}
